.navbar {
    width: 1200px;
}

.navbar-nav {
    display: flex;
}

body {
    color: #5c7470;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 80px;

    @media screen and (max-width: 1200px) {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 80px; 
    }

    @media screen and (max-width: 870px) {
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 40px; 
    }

    @media screen and (max-width: 529px) {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 40px; 
    }
}

h1 span {
    color: #17B6D2;
}

hr {
    border: black;
}

p {
    margin: 0;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;   

    @media screen and (max-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;    
    }

    @media screen and (max-width: 870px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;    
    }

    @media screen and (max-width: 529px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;    
    }
    
}

.flip-card{
    width: 220px;
    height: 320px;
    perspective: 2000px;


    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 20px rgba(#000, 0.2);
        border-radius: 28px;
        transition: all 550ms cubic-bezier(.1,.22,.8,1.13);
        transform-style: preserve-3d;
    }

    &-front, &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 28px;
        backface-visibility: hidden;

    }

    &-back {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    &-front {
        font-size: 8rem;
        text-align: center;
        display: grid;
        align-content: center;
        background-color: #B1CFCB;
        transform: rotateY(180deg);
        
    }

    &:hover .flip-card-inner {
        transform: rotateY(-180deg);
    }
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}